<%= render '/shared/nav' %>
<div class="row"> 
  <div class="alert alert-success" ng-show=sent>
    <strong>Tweet Added!</strong> Check your queue! 
  </div>

  <div class="col-md-6">
      <div class="panel" ng-class="colorizePanel()">
        <div class="panel-heading">
          <h4>Add a tweet</h4>
          {{error}}
        </div>
        <div class="panel-body">
          <textarea ng-model="tweet.value" class="form-control" rows="3"> </textarea>
          <br>
          In how many hours:
          <input type="number" ng-model="tweet.hours" min="1">
          <br>
          <button class="btn btn-primary btn-large" ng-click=addTweet()>Add Tweet</button> ({{tweet.value.length}})
      </div>
    </div>
  </div>

  <div class="col-md-6">
  {{getQueue()}}
  </div>
</div>